<div class="row" style="margin-top:20px;">
	<div class="col-md-10 col-md-offset-1">
		<%= link_to new_league_path do %>
			<button class="btn btn-block btn-success">
				<%= fa_icon "plus" %> Create New League
			</button>
		<% end %>
		<% if current_user.leagues.any? %>
			<h3>My Leagues:</h3>
				<ul>
					<% current_user.leagues.each do |league| %>
						<li><%= league.name %></li>
					<% end %>
				</ul>
		<% else %>
			<h3 class="text-center">You don't have any leagues yet.</h3>
		<% end %>
	</div>
</div>